body {
    font-family: Arial, sans-serif;
    text-align: center;
     background-color: #deb887;
}

img {
    width: 600px;  
    height: 400px; 
    object-fit: cover; 
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.validators {
    margin-top: 20px;
}

.validators img {
    width: 88px;
    height: 31px;
}

