body {
    font-family: Arial, sans-serif;
    text-align: center;
     background-color: green;
}

img {
    width: 600px;  /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    object-fit: cover; /* Ensures image fits nicely within the specified dimensions */
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.validators {
    margin-top: 20px;
}

.validators img {
    width: 88px;
    height: 31px;
}

