body {
    font-family: Arial, sans-serif;
}
label, select, input {
    margin-bottom: 10px;
    display: block;
}
#rhombusDisplay pre {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 5px;
    white-space: pre;
}
